.wrapper {
  max-width: 70rem;
  margin: 2rem auto;
  padding: 0 1rem;

  display: grid;
  grid-template-columns: 256px 1fr;
  gap: 2rem;
  align-items: flex-start;
}

.wrapper h2 {
  display: flex;
  margin-top: 2.5rem;
  align-items: center;
  justify-content: space-around;
  line-height: 1.6;
  color: var(--gray-400);
  font-size: 0.875rem;
  width: 100%;
}

.wrapper h2 hr {
  width: 40%;
}

@media (max-width: 768px) {
  html {
    font-size: 87.5%;
  }

  .wrapper {
    grid-template-columns: 1fr;
  }
}